<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <title>Redmine Backlogs :: {{ page.title }}</title>
  <META NAME="Description" CONTENT="Redmine Backlogs is a Redmine plugin for scrum/agile teams. Keep track of your product backlog and sprints easily!">
  <link rel="stylesheet" href="../../assets/styles/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="../../assets/styles/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="../../assets/styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/default.css" />
  <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css" > 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <!-- BEGIN DISQUS -->
  <script type="text/javascript">
  if(window.location.hostname=="localhost") var disqus_developer = true;
  var disqus_shortname = 'redminebacklogs';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/redminebacklogs/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
  <!-- END DISQUS -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18031500-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container">
    <div class="span-2">&nbsp;</div>

    <div id="hd" class="span-20">
      <div class="title span-10"><a href="{{ site.url }}" name="top">{{ site.name }}</a></div>
      <div class="description span-10 last">{{ site.description }}</div>
    </div>
    <div class="span-2 last">&nbsp;</div>
    
    <div class="span-2">&nbsp;</div>
    <div id="body_container" class="span-20">
      <div id="nav" class="span-5">
      	Contents
      	<ul>
      	  {% for post in site.categories.en %}
      	  <li><a href="../..{{ post.url }}">{{ post.title }}</a></li>
      	  {% endfor %}
      	</ul>
      </div>
      <div id="body" class="span-15 last">
        <div id="content">
        	{{ content }}
        	<a href="#top">Back to top</a>
          <!-- BEGIN DISQUS CODE -->
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /**
              * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
              */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://redminebacklogs.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=redminebacklogs">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          <!-- END DISQUS CODE -->
      	</div>
      </div>
    </div>
    <div class="span-2 last">&nbsp;</div>	
  </div>
</body>
</html>
